#serverChoice, #clientChoice{
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-text-fill: white;
}
#serverPane, #serverChoice {
    -fx-background-color: #0077A0;
}
#clientPane, #clientChoice {
    -fx-background-color: #8F00A0;
}
.root {
    -fx-font-family: "Yuppy TC";
}
#hostLable, #portLabel {
    -fx-text-fill: black;
}
#sendLabel, #instructions {
    -fx-text-fill: white;
}